stencil-todoitem {
    display: block;
    border: 2px dashed red;
    margin-bottom: 5px;
}

stencil-todoitem .completed {
    text-decoration: line-through;
}

stencil-todoitem button {
    margin-right: 5px;
}